body {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
p {
    margin: 0;
    padding: 0;
}
section {
    padding-top: 90px;
background-color: #e2e7ec;
}
.contant {
    width: 1120px;
    margin: 0 auto;
}
.main {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.all-news {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.main-news {
    width: 740px;
    height: 540px;
    background: url(../img/car.jpg);
}
.news {
    background-color: white;
    width: 360px;
    height: 540px;
}
.log {
    margin-top: 80px;
    padding-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
}
.gif {
    width: 16px;
    height: 16px;
}
.main-date {
    padding: 20px 0;
    margin-left: 28px;
    margin-top: 370px;
    text-transform: uppercase;
    color: #818181;
    font-size: 0.8em;
}
.date {
    text-transform: uppercase;
    color: #818181;
    font-size: 0.8em;
}
.main-title {
    margin-left: 28px;
    text-transform: uppercase;
    color: white;
    font-size: 2.3em;
}
.title {
    margin-top: 25px;
    text-transform: uppercase;
    font-size: 1.4em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.text {
    width: 304px;
    padding: 28px;
}
.author {
    margin-top: 75px;
    width: 45px;
    height: 45px;
}

